@font-face {
    font-family: 'Mota';
    src: url('mota.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(237, 237, 237);
    font-family: 'Mota', sans-serif;
    cursor: url('cursor.png'), auto;
    animation: fadeIn 1.2s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}
#reel-video {
    width: 100%;
    max-width: 900px;
    margin: 100px auto;
    display: block;
    border-radius: 12px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
  }
  
.name {
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding: 10px 20px;
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Mota', sans-serif;
}

.button:hover {
    background-color: rgb(44, 37, 37);
    color: rgb(141, 141, 141);
    transition: all 0.3s ease-in-out;
}

.button-filled {
    color: rgb(0, 0, 0);
}

main {
    text-align: center;
}

.video-container {
    margin: 40px auto;
    max-width: calc(100% - 60px);
    max-height: calc(100% - 60px);
}

video {
    width: 70%;
    height: auto;
}
