/* Apply font family to all elements */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'YourFontName', sans-serif; /* Apply custom font to all elements */
    background-color: black; /* Set background color to black */
    cursor: url('cursor.png'), auto;
}


/* Define custom font face */
@font-face {
    font-family: 'YourFontName'; /* Define custom font family */
    src: url('Cyborg.ttf') format('truetype'); /* Specify the path to your .ttf font file */
    /* Add additional font formats for cross-browser compatibility if needed */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.name {
    font-size: 36px; /* Set logo font size to match index.html */
    font-weight: bold;
    color: white; /* Set logo color to white */
    text-decoration: none; /* Remove underline */
}

.name:hover {
    text-decoration: none; /* Ensure no underline on hover */
}

/* Set logo text color to white, even on hover */
.name:hover, .name:visited, .name:active {
    color: white !important;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    color: white;
    background-color: transparent;
    //border: 1px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    font-family: 'YourFontName', sans-serif;
}

.button:hover {
    background-color: white;
    color: black;
}

/* Filled button style */
.button-filled {
   // background-color: grey; /* Change button fill to grey */
    color: white; /* Change text color to white */
}

main {
    text-align: center;
}

.video-container {
    margin: 40px auto; /* Reduced margin to center video */
    max-width: calc(100% - 60px); /* Adjust for padding */
    max-height: calc(100% - 60px); /* Adjust for padding */
}

video {
    width: 70%; /* Set video width to 70% of its current size */
    height: auto; /* Maintain aspect ratio */
}
