@font-face {
    font-family: 'Mota';
    src: url('mota.ttf') format('truetype');
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Mota', sans-serif;
    cursor: url('cursor.png'), auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
  }
  
  .name {
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button {
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 10px 20px;
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Mota', sans-serif;
    border: 1px solid black;
  }
  
  .button:hover {
    background-color: black;
    color: rgb(147, 145, 145);
  }
  
  .video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .vimeo-video {
    width: 80vw;
    height: 45vw;
    max-width: 1300px;
    max-height: 860px;
    border: none;
    border-radius: 10px;
    margin-bottom: 45px;
  }